APScheduler==3.6.3
backports.csv==1.0.7
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
contextlib2==0.6.0.post1
dnspython==1.16.0
docopt==0.6.2
eventlet==0.26.1
greenlet==0.4.16
idna==2.10
internetarchive==1.9.4
jsonpatch==1.26
jsonpointer==2.0
monotonic==1.5
psycopg2==2.8.6
psycopg2-binary==2.8.6
pytz==2020.1
requests==2.24.0
schema==0.7.2
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
total-ordering==0.1.0
tqdm==4.48.2
tzlocal==2.1
urllib3==1.25.10
